.logocontainer {
  width: 97px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.sidebarcontainer {
  background-color: #1b1b1f;
}
.mylogoweb {
  background-color: #1b1b1f;
  width: 100%;
  height: 100%;
}
.compainContainer {
  display: flex;
  align-items: center;
  border: 2px solid gainsboro;
  font-size: 15px;
  padding: 8px 8px;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuitemscontainer > a {
  color: unset;
  text-decoration: none;
}
.compainContainer > p {
  white-space: nowrap;
}
.icon {
  margin-right: 10px;
}
.rr {
  border: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.rr > p {
  font-size: 14px;
}
.menuitemscontainer {
  margin-top: 50px;
}
