.maincontainer {
  width: 100%;
  display: flex;
  background-color: #1b1b1f;
  height: 100vh;
}
.sidebar {
  width: 14%;
  color: #e4e1e6;
  padding: 15px 30px;
  border-right: 0.5px solid #e4e1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentconatiner {
  width: 86%;
  background-color: beige;
}

