* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: rgb(228, 225, 230);
  font-size: 14px;
  line-height: 16px;
}
.main-container {
  display: flex;
  position: relative;
  background-color: #2b2c35;
}

.sidebar {
  min-width: 13%;
  border-right: 1px solid rgb(139, 139, 139);
  position: fixed;
  height: 100vh;
  background-color: #1b1b1f;
  padding: 15px 14px;
  color: #e4e1e6;
}

.content {
  flex: 1;
  margin-left: 13%; /* Same width as sidebar */
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #1b1b1f;
}
