* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #2b2c35; */
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: rgb(228, 225, 230);
  font-size: 14px;
  line-height: 16px;
}
.main-container {
  display: flex;
  position: relative;
  background-color: #2b2c35;
}

.sidebar {
  min-width: 13%;
  border-right: 1px solid rgb(139, 139, 139);
  position: fixed;
  height: 100vh;
  background-color: #1b1b1f;
  padding: 15px 14px;
  color: #e4e1e6;
}

.content {
  flex: 1;
  margin-left: 13%; /* Same width as sidebar */
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #1b1b1f;
}
.login-container {
  /* margin: 35px; */
  background-color: #19191c;
  width: 100%;
}
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.login-logo-container {
  width: 97px;
  height: 20px;
  margin-top: 45px;
  margin-bottom: 25px;
  margin-left: 116px;
}

.login-section {
  padding-bottom: 20px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 10px;
  width: 35%;
}

.button-container {
  display: flex;
  align-items: center;
  border: 1px solid white;
  gap: 5px;
  width: 20%;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.buttons {
  padding: 20px;
}

.form-section {
  padding: 20px;
}

/* 
//tabbar */

.tab-bar {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

.tab {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 3px solid #333;
  transition: border-bottom-color 0.3s;
}

/* .tab:hover {
  border-bottom-color: ;
} */

.tab.active {
  border-bottom-color: #ffff;
}

.tab-content {
  display: none;
  padding: 20px;
  border-top: 2px solid #333;
}

.tab-content.active {
  display: block;
}
.tabs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 90%;
}
